* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --fs-h2: 2.4rem;
  --fs-p: 1.6rem;

  background-color: #121214;
  background-image: url('./src/landing.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no repeat;
  --bck-teste: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
}
body {
  display: flex;
  flex-direction: column;
}
.my-page {
  width: auto;
  display: grid;
  gap: 2.5rem;
  place-content: center;
  padding: 3.2rem 4.6rem;
}
.profile {
  display: flex;
  margin: 0 auto;
  padding-top: 3.2rem;
  transition: transform 300ms ease-in-out;
}
.profile :hover {
  box-shadow: 0px 0px 20px -6px #02a0c9;
  border-radius: 60px;
  cursor: pointer;
  transform: scale(1.1);
}
h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: var(--fs-h2);
  line-height: 160%;
  letter-spacing: -0.47px;
}
p {
  color: #a1a1aa;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--fs-p);
  line-height: 160%;
  letter-spacing: -0.18px;
}
li {
  display: flex;
  list-style: none;
}
ul {
  display: flex;
  gap: 1.6rem;
}
img {
  object-fit: cover;
  width: 6rem;
  height: auto;
  display: flex;
  border-radius: 8px;
}

.card-games {
  display: flex;
  gap: 1.8rem;
  padding-top: 2.4rem;
  transition: all 2s 300ms ease;
}
.card-games :hover {
  transform: scale(1.1);
}
.my-games,
.my-streamers,
.my-networks {
  background: #373245;
  min-width: 50rem;
  border-radius: 0.8rem;
  padding: 2.4rem 3.2rem;
  cursor: pointer;
}
.my-games,
.my-networks,
.my-streamers {
  background: linear-gradient(#2a2634, #2a2634) padding-box,
    linear-gradient(
        to right,
        rgba(149, 114, 252, 1) 10%,
        rgba(67, 231, 173, 1) 60%,
        rgba(226, 212, 92, 1) 80%
      )
      border-box;
  border-radius: 1rem;
  border-top: 5px solid transparent;
}

@media (min-width: 780px) {
  .my-games {
    width: 80rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --fs-h2: 3rem;
    --fs-p: 2.6rem;
  }
  .my-games {
    width: 119rem;
  }
  img {
    object-fit: cover;
    width: 14rem;
    height: auto;
  }
  .card-games {
    display: flex;
    gap: 4rem;
    padding-top: 2.7rem;
  }
}
